<section class="section components">
  <div class="container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-title-item">TASTE</span> SENSATION
    </h2>

    <p class="componets-desc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list list">
      <li class="componets-list-item">
        <div class="components-list-item-wrapper">
          <picture class="components-list-img">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components-img/img-1_desk@1x.webp 1x,
                ./img/components-img/img-1_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components-img/img-1_desk@1x.png 1x,
                ./img/components-img/img-1_desk@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile and Tablet -->
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components-img/img-1_mob@1x.webp 1x,
                ./img/components-img/img-1_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components-img/img-1_mob@1x.png 1x,
                ./img/components-img/img-1_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/components-img/img-1_mob@1x.png"
              alt="Chocolate"
              width="224"
            />
          </picture>
          <p class="componets-list-item-desc">MILK CHOCOLATE</p>
        </div>
        <div class="components-overlay">
          <p class="overlay-title">Milk chocolate</p>
          <ul class="overlay-list list">
            <li class="overlay-list-item">chocolate</li>
            <li class="overlay-list-item">the benefits</li>
          </ul>
          <p class="overlay-desc">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>

      <li class="componets-list-item">
        <div class="components-list-item-wrapper">
          <picture class="components-list-img">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components-img/img-2_desk@1x.webp 1x,
                ./img/components-img/img-2_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components-img/img-2_desk@1x.png 1x,
                ./img/components-img/img-2_desk@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile and Tablet -->
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components-img/img-2_mob@1x.webp 1x,
                ./img/components-img/img-2_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components-img/img-2_mob@1x.png 1x,
                ./img/components-img/img-2_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/components-img/img-2_mob@1x.png"
              alt="Milk"
              width="224"
            />
          </picture>
          <p class="componets-list-item-desc componets-list-item-desc-dark">
            Milk
          </p>
        </div>
        <div class="components-overlay">
          <p class="overlay-title">Milk</p>
          <ul class="overlay-list list">
            <li class="overlay-list-item overlay-list-milk">milk</li>
            <li class="overlay-list-item">the benefits</li>
          </ul>
          <p class="overlay-desc">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </li>
      <li class="componets-list-item">
        <div class="components-list-item-wrapper">
          <picture class="components-list-img">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components-img/img-3_desk@1x.webp 1x,
                ./img/components-img/img-3_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components-img/img-3_desk@1x.png 1x,
                ./img/components-img/img-3_desk@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile and Tablet -->
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components-img/img-3_mob@1x.webp 1x,
                ./img/components-img/img-3_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components-img/img-3_mob@1x.png 1x,
                ./img/components-img/img-3_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/components-img/img-3_mob@1x.png"
              alt="Nuts"
              width="224"
            />
          </picture>
          <p class="componets-list-item-desc">Nuts</p>
        </div>
        <div class="components-overlay">
          <p class="overlay-title">Nuts</p>
          <ul class="overlay-list list">
            <li class="overlay-list-item overlay-list-nuts">nuts</li>
            <li class="overlay-list-item">the benefits</li>
          </ul>
          <p class="overlay-desc">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own.
          </p>
        </div>
      </li>
      <li class="componets-list-item">
        <div class="components-list-item-wrapper">
          <picture class="components-list-img">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components-img/img-4_desk@1x.webp 1x,
                ./img/components-img/img-4_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components-img/img-4_desk@1x.png 1x,
                ./img/components-img/img-4_desk@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile and Tablet -->
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components-img/img-4_mob@1x.webp 1x,
                ./img/components-img/img-4_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components-img/img-4_mob@1x.png 1x,
                ./img/components-img/img-4_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/components-img/img-4_mob@1x.png"
              alt="Coffee"
              width="224"
            />
          </picture>
          <p class="componets-list-item-desc componets-list-item-desc-dark">
            SEMI-SWEET CHOCOLATE
          </p>
        </div>
        <div class="components-overlay">
          <p class="overlay-title">semi - sweet chocolate</p>
          <ul class="overlay-list list">
            <li class="overlay-list-item overlay-list-sweet">
              sweet chocolate
            </li>
            <li class="overlay-list-item">the benefits</li>
          </ul>
          <p class="overlay-desc">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
