<section class="components">
  <div class="components-container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-title-item">TASTE</span> SENSATION
    </h2>
    <p class="componets-desc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list">
      <li class="componets-list-item">
        <img
          src="
          "
          alt=""
        />
        <p class="componets-list-item-desc">MILK CHOCOLATE</p>
      </li>
      <li class="componets-list-item">
        <img
          src="
          "
          alt=""
        />
        <p class="componets-list-item-desc">Milk</p>
      </li>
      <li class="componets-list-item">
        <img
          src="
          "
          alt=""
        />
        <p class="componets-list-item-desc">Nuts</p>
      </li>
      <li class="componets-list-item">
        <img
          src="
          "
          alt=""
        />
        <p class="componets-list-item-desc">SEMI-SWEET CHOCOLATE</p>
      </li>
    </ul>
  </div>
</section>
