<section class="section components">
  <div class="container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-title-item">TASTE</span> SENSATION
    </h2>

    <p class="componets-desc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list list">
      <li class="componets-list-item">
        <div class="components-list-item-wrapper">
          <picture class="components-list-img">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/components-img/img-1_desk@1x.webp 1x,
                ../img/components-img/img-1_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/components-img/img-1_desk@1x.png 1x,
                ../img/components-img/img-1_desk@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile and Tablet -->
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/components-img/img-1_mob@1x.webp 1x,
                ../img/components-img/img-1_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/components-img/img-1_mob@1x.png 1x,
                ../img/components-img/img-1_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="../img/components-img/img-1_mob@1x.png"
              alt="Chocolate"
              width="224"
            />
          </picture>
          <p class="componets-list-item-desc">MILK CHOCOLATE</p>
        </div>
        <div class="overlay">
          <p class="overlay-title">Milk chocolate</p>
          <ul class="overlay-list">
            <li class="overlay-list-item"></li>
            <li class="overlay-list-item"></li>
          </ul>
        </div>
      </li>
      <li class="componets-list-item">
        <div class="components-list-item-wrapper">
          <picture class="components-list-img">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/components-img/img-2_desk@1x.webp 1x,
                ../img/components-img/img-2_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/components-img/img-2_desk@1x.png 1x,
                ../img/components-img/img-2_desk@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile and Tablet -->
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/components-img/img-2_mob@1x.webp 1x,
                ../img/components-img/img-2_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/components-img/img-2_mob@1x.png 1x,
                ../img/components-img/img-2_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="../img/components-img/img-2_mob@1x.png"
              alt="Milk"
              width="224"
            />
          </picture>
          <p class="componets-list-item-desc componets-list-item-desc-dark">
            Milk
          </p>
        </div>
      </li>
      <li class="componets-list-item">
        <div class="components-list-item-wrapper">
          <picture class="components-list-img">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/components-img/img-3_desk@1x.webp 1x,
                ../img/components-img/img-3_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/components-img/img-3_desk@1x.png 1x,
                ../img/components-img/img-3_desk@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile and Tablet -->
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/components-img/img-3_mob@1x.webp 1x,
                ../img/components-img/img-3_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/components-img/img-3_mob@1x.png 1x,
                ../img/components-img/img-3_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="../img/components-img/img-3_mob@1x.png"
              alt="Nuts"
              width="224"
            />
          </picture>
          <p class="componets-list-item-desc">Nuts</p>
        </div>
      </li>
      <li class="componets-list-item">
        <div class="components-list-item-wrapper">
          <picture class="components-list-img">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/components-img/img-4_desk@1x.webp 1x,
                ../img/components-img/img-4_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/components-img/img-4_desk@1x.png 1x,
                ../img/components-img/img-4_desk@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile and Tablet -->
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/components-img/img-4_mob@1x.webp 1x,
                ../img/components-img/img-4_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/components-img/img-4_mob@1x.png 1x,
                ../img/components-img/img-4_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="../img/components-img/img-4_mob@1x.png"
              alt="Coffee"
              width="224"
            />
          </picture>
          <p class="componets-list-item-desc componets-list-item-desc-dark">
            SEMI-SWEET CHOCOLATE
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
