<!-- header -->
<header class="header">
  <div class="header-container container">
    <a id="hero" href="../index.html" class="header-logo link">
      <span class="part-logo">SIMPLY</span> CHOCOLATE
      <svg class="icon-logo" width="21" height="21">
        <use href="./img/icons.svg#logo-icon"></use>
      </svg>
    </a>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon-burger" width="28" height="28">
        <use href="./img/icons.svg#menu-burger"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-item">
          <a href="#hero" class="header-navi-link link"> Home</a>
        </li>
        <li class="header-item">
          <a href="#how-made" class="header-navi-link link"> How it`s made</a>
        </li>
        <li class="header-item">
          <a href="#products" class="header-navi-link link"> Our products</a>
        </li>
        <li class="header-item">
          <a href="#sellers" class="header-navi-link link"> Top sellers</a>
        </li>
        <li class="header-item">
          <a href="#choco-love" class="header-navi-link link">
            Chocolate is loved</a
          >
        </li>
      </ul>

      <ul class="header-socials list">
        <li class="header-network-item">
          <a
            class="network-header-link link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram-icon"
          >
            <svg class="header-network-social" width="24" height="24">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-network-item">
          <a
            class="network-header-link link"
            href="https://twitter.com/Twitter"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="twitter-icon"
          >
            <svg class="header-network-social" width="24" height="24">
              <use href="./img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
