<!-- =========== HERO ============ -->
<section class="hero section">
  <div class="container hero-container">
    <h1 class="hero-title visually-hidden">Simply Chocolate</h1>
    <h2 class="hero-subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <ul class="hero-btn-list list">
      <li class="hero-btn-list-item">
        <button type="button" class="hero-modal-btn">Buy now</button>
      </li>
      <li class="hero-btn-list-item">
        <button type="button" class="hero-scroll-btn">
          <a href="#how-its-made" class="hero-scroll-btn-link link"
            >How it’s made</a
          >
        </button>
      </li>
    </ul>
    <a href="#footer" class="hero-down-link link">
      <p class="hero-scroll-text">scroll down</p>
      <button type="button" class="hero-down-btn">
        <svg class="hero-down-icon" width="16" height="16">
          <use href="../img/icons.svg#scroll-icon"></use>
        </svg>
      </button>
    </a>
  </div>
</section>

<!-- =========== /HERO ============ -->
