<!-- =========== HERO ============ -->
<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title visually-hidden">Simply Chocolate</h1>
    <h2 class="hero-subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <button type="button" class="hero-modal-btn">Buy now</button>
    <button type="button" class="hero-scroll-btn">
      <a href="#how-its-made" class="hero-scroll-btn-link link"
        >How it’s made</a
      >
    </button>
    <p class="hero-scroll-text">scroll down</p>
    <button type="button" class="hero-down-btn">
      <a href="#footer" class="hero-down-link link">
        <svg class="hero-down-icon" width="16" height="16">
          <use href="../img/icons.svg#scroll-icon"></use>
        </svg>
      </a>
    </button>
  </div>
</section>

<!-- =========== /HERO ============ -->
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis officiis
  dolor minus excepturi quas ex. Deserunt harum fugit veritatis nobis, nesciunt
  eveniet eius facilis in est eligendi fugiat aliquam magnam mollitia deleniti
  illum itaque earum, iste beatae, voluptate maxime pariatur cumque vitae!
  Aliquam omnis impedit quam nemo, incidunt ad quidem beatae eum, dicta quos
  ipsa facere, iusto laudantium. Tenetur impedit soluta, repellendus minima
  provident exercitationem non! Assumenda, optio doloremque cum deleniti,
  impedit facere id aliquid enim corrupti ducimus ad, aut fuga quia. Odit, sint.
  Quia sed nesciunt voluptatibus! Qui ducimus quos ab perspiciatis, aspernatur
  architecto dolore repudiandae itaque in doloremque minima illo distinctio
  amet! Impedit, distinctio nemo eligendi quis vitae ratione, iure maxime
  dolorem magni provident rerum tenetur quibusdam repellendus iste,
  reprehenderit qui similique inventore. Aut quasi nihil at, explicabo adipisci
  eius delectus, reprehenderit doloribus, cum dolorem magni quae quas.
  Accusantium atque minus incidunt suscipit nisi. Delectus iste temporibus aut,
  magni et maiores pariatur, quos omnis quibusdam error eum aliquam ad dolores,
  veniam officia. Vitae excepturi esse consequatur id architecto suscipit
  commodi quas autem velit similique! Dolores odit iusto, cupiditate optio
  voluptatibus deserunt hic accusamus molestias! Adipisci vitae illum porro,
  ipsa dolores dolore nemo. Quaerat, sapiente est. Cum, quod quo!
</p>
<h2 id="footer">FOOTER</h2>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis officiis
  dolor minus excepturi quas ex. Deserunt harum fugit veritatis nobis, nesciunt
  eveniet eius facilis in est eligendi fugiat aliquam magnam mollitia deleniti
  illum itaque earum, iste beatae, voluptate maxime pariatur cumque vitae!
  Aliquam omnis impedit quam nemo, incidunt ad quidem beatae eum, dicta quos
  ipsa facere, iusto laudantium. Tenetur impedit soluta, repellendus minima
  provident exercitationem non! Assumenda, optio doloremque cum deleniti,
  impedit facere id aliquid enim corrupti ducimus ad, aut fuga quia. Odit, sint.
  Quia sed nesciunt voluptatibus! Qui ducimus quos ab perspiciatis, aspernatur
  architecto dolore repudiandae itaque in doloremque minima illo distinctio
  amet! Impedit, distinctio nemo eligendi quis vitae ratione, iure maxime
  dolorem magni provident rerum tenetur quibusdam repellendus iste,
  reprehenderit qui similique inventore. Aut quasi nihil at, explicabo adipisci
  eius delectus, reprehenderit doloribus, cum dolorem magni quae quas.
  Accusantium atque minus incidunt suscipit nisi. Delectus iste temporibus aut,
  magni et maiores pariatur, quos omnis quibusdam error eum aliquam ad dolores,
  veniam officia. Vitae excepturi esse consequatur id architecto suscipit
  commodi quas autem velit similique! Dolores odit iusto, cupiditate optio
  voluptatibus deserunt hic accusamus molestias! Adipisci vitae illum porro,
  ipsa dolores dolore nemo. Quaerat, sapiente est. Cum, quod quo!
</p>
