<!-- How it's made section -->
<section class="recipe-section section">
  <div class="recipe-container container">
    <h2 class="recipe-title">
      HOW IT'S <span class="recipe-title-color">MADE?</span>
    </h2>
    <div class="recipe-left-side">
      <img
        class="recipe-img"
        srcset="
          ./src/img/how-its-made/img-600.jpg 600w,
          ./src/img/how-its-made/img-614.jpg 614w,
          ./src/img/how-its-made/img-335.jpg 335w,
          ./images/team/img-1_740.jpg        740w,
          ./images/team/img-1_836.jpg        836w,
          ./images/team/img-1_900.jpg        900w
        "
        sizes="(min-width: 1200px) 370px, (min-width: 768px) 450px, (min-width: 480px) 418px, 100vw"
        src="../img/how-its-made/img-614.jpg"
        alt="How it's made image"
        widht="614"
        height="500"
        loading="lazy"
      />
      <img />
      <a class="link"
        ><button class="recipe-button" type="button">
          <svg class="recipe-button-icon" width="44" height="44">
            <use href="./images/recipe-play.svg"></use>
          </svg>
        </button>
      </a>
    </div>
    <div class="recipe-right-side">
      <h3 class="recipe-subtitle">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="recipe-list list">
        <li class="recipe-item">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="recipe-item">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="recipe-item">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="recipe-item">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="recipe-item">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
