<!-- How it's made section -->

<section class="recipe-section">
  <div class="recipe-container">

    <h2 class="recipe-title">
      HOW IT'S <span class="recipe-title-color">MADE?</span>
    </h2>
    <div class="recipe-general">
      <div class="recipe-left-side">
        <img
          class="recipe-img"
          srcset="
            ../img/how-its-made/img-600.jpg   600w,
            ../img/how-its-made/img-614.jpg   614w,
            ../img/how-its-made/img-335.jpg   335w,
            ../img/how-its-made/img-1200.jpg 1200w,
            ../img/how-its-made/img-1228.jpg 1228w,
            ../img/how-its-made/img-670.jpg   670w
          "
          sizes="(min-width: 1200px) 600px, (min-width: 768px) 614px, (min-width: 375px) 335px, 100vw"
          src="../img/how-its-made/img-614.jpg"
          alt="How it's made?"
          width="614"
          height="500"
          loading="lazy"
        />
        <svg class="recipe-btn-icon" width="44" height="44">

          <use href="../img/how-its-made/play-icon.svg#play-icon"></use>

        </svg>
      </div>
      <div class="recipe-right-side">
        <h3 class="recipe-subtitle">
          Try our chocolates today and<br />
          discover the perfect balance of flavor
        </h3>
        <ul class="recipe-list list">
          <li class="recipe-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="recipe-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="recipe-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="recipe-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="recipe-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
