<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-close-btn" width="16" height="16">
      <use href="../img/icons.svg#x-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu-item">
      <a href="#hero" class="mobile-link link current"> Home</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#how-made" class="mobile-link link"> How it`s made</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#products" class="mobile-link link"> Our Products</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#sellers" class="mobile-link link"> Top sellers</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#choco-love" class="mobile-link link"> Chocolate is loved</a>
    </li>
  </ul>
  <ul class="mobile-menu-socials list">
    <li class="network-item">
      <a class="network-menu link" 
         href="https://www.instagram.com/"
         target="_blank"
         rel="noopener-norefferer"
         aria-label="instagram-icon" >
        <svg class="network-social" width="20" height="20">
          <use href="./img/icons.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="network-item">
      <a class="network-menu link"
         href="https://twitter.com/Twitter"
         target="_blank"
         rel="noopener-norefferer"
         aria-label="twitter-icon" >
        <svg class="network-social" width="20" height="20">
          <use href="./img/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
