<section class="our-product section" id="products">
  <div class="container">
    <h2 class="product-title">
      Our <span class="product-span">pRODUCTS</span>
    </h2>
    <div class="products-holder">
      <ul class="product-list list">
        <li class="product-item">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./img/our-product/orange.jpg"
            alt="Orange Chocolate"
          />
          <p class="product-name">Orange</p>
          <p class="product-desc">Dark chocolate</p>
          <p class="price-holder">45 UAH</p>
        </li>
        <li class="product-item hidden-product-one">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./img/our-product/apple.jpg"
            alt="Apple Chocolate"
          />
          <p class="product-name">APPLE&CRANBERRY</p>
          <p class="product-desc">Milk chocolate</p>
          <p class="price-holder">50 UAH</p>
        </li>
        <li class="product-item hidden-product-two">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./img/our-product/lime.jpg"
            alt="Lime Chocolate"
          />
          <p class="product-name">lime&sea salt</p>
          <p class="product-desc">Dark chocolate</p>
          <p class="price-holder">66 UAH</p>
        </li>
        <li class="product-item hidden-product-three">
          <img
            width="230"
            height="201"
            class="product-image"
            src="./img/our-product/pineapple.jpg"
            alt="Pineapple Chocolate"
          />
          <p class="product-name">pineapple</p>
          <p class="product-desc">Dark chocolate</p>
          <p class="price-holder">54 UAH</p>
        </li>
      </ul>
    </div>
    <!-- <div class="pagination-wrapper">
      <span class="pagination-item pagination active"></span
      ><span class="pagination-item"></span><span class="pagination-item"></span
      ><span class="pagination-item"></span>
      <span class="pagination-item"></span>
      <span class="pagination-item"></span>
      <span class="pagination-item"></span>
      <span class="pagination-item"></span>
    </div> -->
  </div>
</section>
