<section class="our-product">
  <div class="product-container container">
    <h2 class="product-name">Our <span class="product-span">pRODUCTS</span></h2>
    <div class="products-holder">
      <ul class="product-list">
        <li class="product-item">
          <img
            width="270"
            height="201"
            class="product-image"
            src="/src/img/our-product/orange.jpg"
            alt=""
          />
          <p class="product-title">Orange</p>
          <p class="product-desc">Dark chocolate</p>
          <div class="price-holder">45 UAH</div>
        </li>
        <li class="product-item hidden-product-one">
          <img
            width="270"
            height="201"
            class="product-image"
            src="/src/img/our-product/apple.jpg"
            alt=""
          />
          <p class="product-title">APPLE&CRANBERRY</p>
          <p class="product-desc">Milk chocolate</p>
          <div class="price-holder">50 UAH</div>
        </li>
        <li class="product-item hidden-product-two">
          <img
            width="270"
            height="201"
            class="product-image"
            src="/src/img/our-product/lime.jpg"
            alt=""
          />
          <p class="product-title">lime&sea salt</p>
          <p class="product-desc">Dark chocolate</p>
          <div class="price-holder">66 UAH</div>
        </li>
        <li class="product-item hidden-product-three">
          <img
            width="270"
            height="201"
            class="product-image"
            src="/src/img/our-product/pineapple.jpg"
            alt=""
          />
          <p class="product-title">pineapple</p>
          <p class="product-desc">Dark chocolate</p>
          <div class="price-holder">54 UAH</div>
        </li>
      </ul>
    </div>
  </div>
</section>
