/* Modal pop-up-explore */
<div class="backdrope-explore" data-modal>
  <div class="modal-explore">
    <button class="modal-explore-close-btn" type="button" data-modal-close>
      <svg class="modal-explore-close-icon" width="24" height="24">
        <use href=""></use>
      </svg>
    </button>

    <p class="modal-explore-title">
      Explore our <span class="modal-explore-name">new chocolate</span> first!
    </p>
    <div class="modal-explore-input">
      <form class="modal-explore-form">
        <label class="subscribe-form label-position">
          <!-- <input
            class="modal-subscribe-input"
            type="email"
            placeholder="&nbsp"
          /> -->
          <!-- <span class="modal-explore-email">Enter your email</span> -->
        </label>
        <button class="modal-explore-btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
