<section class="section">
    <div class="container">
        <h2 class="sellers-title">Top Sellers</h2>
        <ul>
            <li>
                <img src="../img/top-sellers/nuts@1x_335.jpg" alt="nuts">
            </li>
            <li>
                <img src="../img/top-sellers/chocolate@1x_335.jpg" alt="chocolate">
            </li>
            <li>
                <img src="../img/top-sellers/chocoandsweets@1x_368.jpg" alt="choco_and_sweets">
            </li>
        </ul>
        <div>
            <p>Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
            thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button type="button">Buy now</button>
        </div>
    </div>
</section>