<section class="section">
    <div class="container">
        <h2 class="sellers-title">Top <span class="sellers-text">Sellers</span></h2>
        <ul class="sellers-list img-set list">
            <li class="sellers-item img-set-item">
                <img class="sellers-img" src="../img/top-sellers/nuts@1x_368.jpg" alt="nuts" width="368px">
            </li>
            <li class="sellers-item img-set-item">
                <img class="sellers-img" src="../img/top-sellers/chocolate@1x_368.jpg" alt="chocolate" width="368px">
            </li>
            <li class="sellers-item img-set-item">
                <img class="sellers-img" src="../img/top-sellers/chocoandsweets@1x_368.jpg" alt="choco_and_sweets" width="368px">
            </li>
        </ul>
        <div class="sellers-container">
            <p class="sellers-desc">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
            thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button class="sellers-btn" type="button">Buy now</button>
        </div>
    </div>
</section>