<section class="section">
  <div class="container">
    <h2 class="sellers-title" id="sellers">
      Top <span class="sellers-text">Sellers</span>
    </h2>
    <ul class="sellers-list img-set list">
      <li class="sellers-item img-set-item">
        <img
          class="sellers-img"
          srcset="
            ./img/top-sellers/nuts@1x_335.jpg 335w,
            ./img/top-sellers/nuts@1x_344.jpg 344w,
            ./img/top-sellers/nuts@1x_368.jpg 368w,
            ./img/top-sellers/nuts@2x_670.jpg 670w,
            ./img/top-sellers/nuts@2x_688.jpg 688w,
            ./img/top-sellers/nuts@2x_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="./img/top-sellers/nuts@1x_335.jpg"
          alt="nuts"
          width="335"
        />
        <p class="sellers-desc sellers-desc-mob mobile">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="img-set-item">
        <img
          class="sellers-img"
          srcset="
            ./img/top-sellers/chocolate@1x_335.jpg 335w,
            ./img/top-sellers/chocolate@1x_344.jpg 344w,
            ./img/top-sellers/chocolate@1x_368.jpg 368w,
            ./img/top-sellers/chocolate@2x_670.jpg 670w,
            ./img/top-sellers/chocolate@2x_688.jpg 688w,
            ./img/top-sellers/chocolate@2x_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="./img/top-sellers/chocolate@1x_335.jpg"
          alt="chocolate"
          width="335"
        />
        <button
          class="sellers-btn sellers-btn-mob mobile"
          type="button"
          data-modal="1"
        >
          Buy now
        </button>
      </li>
      <li class="img-set-item ghosts">
        <img
          class="sellers-img"
          srcset="
            ./img/top-sellers/chocoandsweets@1x_368.jpg 1x,
            ./img/top-sellers/chocoandsweets@2x_736.jpg 2x
          "
          src="./img/top-sellers/chocoandsweets@1x_368.jpg"
          alt="choco_and_sweets"
          width="368"
        />
      </li>
    </ul>
    <div class="sellers-container">
      <p class="sellers-desc">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="js-open-modal sellers-btn" type="button" data-modal="3">
        Buy now
      </button>
    </div>
  </div>
</section>
