/* js close btn */
.buy-backdrop {
    display: none;


}

.buy-active {
    display: block;
}


.buy-backdrop {
    position: fixed;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(46, 47, 66, 0.4);

    z-index: 10;

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--animation-speed) cubic-bezier(0.4, 0, 0.2, 1), visibility var(--animation-speed) cubic-bezier(0.4, 0, 0.2, 1);

}


.buy-modal {
    position: absolute;

    width: 100%;
    padding: 32px 24px;
    max-height: 994px;
    padding: 32px 24px;
    background: #FAFAFA;
    border-radius: 15px;
    width: 95%;

    height: 95%;
    max-height: 954px;
    overflow: scroll;
}




.buy-modal {
    top: calc(50%);
    left: calc(50%);
    transform: translateX(-50%) translateY(-50%) scale(1);
}



@media screen and (min-width: 311px) and (max-width: 767px) {
    .buy-modal {
        width: 263px;
    }
}

@media screen and (min-width: 768px) {
    .buy-modal {
        padding: 48px;
        width: 513px;
    }
}



.buy-active {
    display: block;
}

::placeholder {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #4040404d;
}

@media only screen and (min-width: 768px) {
    ::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.02em;

        color: #4040404d;

    }
}

.buy-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px;
    gap: 14px;

    width: 120px;
    height: 41px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    background: #FD9222;
    border-radius: 100px;
    border-style: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;


    color: #FFFFFF;

}

.buy-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 14px;
    left: 88%;

    width: 24px;
    height: 24px;
    background-color: transparent;
    border-style: none;

    position: absolute;

}

@media only screen and (min-width: 768px) {
    .buy-close-btn {
        left: 94%;
    }
}

.buy-modal-form {}



.buy-title {

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: #111111;
}

.buy-title-color {
    color: #FD9222;
}


.buy-img-wrap {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .buy-list {
        flex-direction: row;
    }
}

.buy-item {
    display: flex;
    width: 263px;
    height: 85px;
    left: 24px;
    top: 88px;

    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}


@media only screen and (min-width: 768px) {
    .buy-item {
        flex-direction: column;
        width: 117px;
        height: 154px;

        padding-top: 24px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 18px;
        align-items: center;

    }
}

.buy-img {

    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
}

@media only screen and (min-width: 769px) {
    .buy-img {
        margin: 0;
        width: 120px;
        height: 107px;
    }
}

.buy-item-btn {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 16px;
    padding: 6px 16px;
    gap: 14px;

    width: 70px;
    height: 29px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;


    color: #111111;

    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;

}

@media only screen and (min-width: 768px) {
    .buy-item-btn {
        margin: 0;
        padding: 0;
        margin-top: auto;
    }
}

.buy-input-wrap {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 263px;
    margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
    .buy-input-wrap {
        width: 100%;
    }
}

.buy-inf-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
    .buy-inf-wrap {

        flex-direction: row;
        gap: 21px;
    }
}

.buy-list {
    display: flex;
    margin-bottom: 32px;
    flex-direction: column;


}

@media only screen and (min-width: 768px) {
    .buy-list {
        flex-direction: row;
        gap: 16px;
    }
}

.buy-item:not(:last-child) {
    margin-bottom: 8px;
}

.buy-person-inf {
    margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {

    .buy-person-inf,
    .buy-person-surname {
        width: 246px;
    }
}

.buy-phone-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
}




.create-line-left:before {
    content: '';

    border: 1.5px solid rgba(17, 17, 17, 0.05);




    display: inline-block;

    height: 25px;

    position: absolute;

    margin-left: 105px;
    margin-top: 29px;
}

.buy-form-label,
.buy-form-field {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: -0.02em;

    color: #000000;

}


@media only screen and (min-width: 768px) {
    .buy-form-label {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;

        letter-spacing: -0.02em;

        color: #000000;
    }
}

.buy-form-field {
    height: 14px;
    padding: 14px 18px;
    background-color: transparent;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px #00000008);
    border-radius: 8px;
}

@media only screen and (min-width: 768px) {
    .buy-form-field {
        height: 22px;
        padding: 22px 24px;
    }
}

.buy-email {
    margin-bottom: 18px;
}

.buy-phone-icon {
    padding-left: 106px;
    margin-bottom: 18px;
}


.buy-flag-icon {
    position: absolute;
    top: 40%;
    left: 18px;
    z-index: 1;
    pointer-events: none;

}

.buy-card-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 18px;

}

.buy-card-icon {
    position: absolute;

    top: 57%;
    right: 14px;
    z-index: 1;

    pointer-events: none;

}

.buy-form-comment {
    display: block;
    height: 60px;
    background-color: transparent;
    resize: none;
    padding: 14px 18px 14px 18px;
    border: 1.5px solid #1111110d;
    filter: drop-shadow(0px 5.44492px 5.44492px #00000008);
    border-radius: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    letter-spacing: -0.02em;

    color: #4040404d;

}

@media only screen and (min-width: 768px) {
    .buy-form-comment {
        padding-top: 22px;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 22px;
        height: 137px;

    }
}

.buy-submit-btn {
    display: flex;

    padding: 12px 28px;
    gap: 14px;


    width: 109px;
    height: 41px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;


    color: #FFFFFF;

    background: #FD9222;
    border-radius: 100px;
    border-style: none;
}

.buy-submit-btn:hover,
.buy-submit-btn:focus {
    background: #FCF1E0;
    color: #FD9222;
    border-style: none;

}