* {
  box-sizing: border-box;
}
.components-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  max-width: 283px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .components-title {
    font-size: 24px;
    line-height: 1.17;

    max-width: 411px;
    margin-bottom: 28px;
  }
}
.components-title-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
}

@media only screen and (min-width: 768px) {
  .components-title-item {
    font-size: 24px;
    line-height: 1.17;
  }
}
.componets-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .componets-desc {
    max-width: 486px;
    margin-bottom: 50px;
  }
}
.components-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  /* width: 335px; */
}

@media only screen and (min-width: 768px) {
  .components-list {
    gap: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .components-list {
    gap: 19px;
    /* width: 270px; */
  }
}

.componets-list-item {
  border-radius: 15px;
  /* width: calc(100% / 1); */
}

.componets-list-item:nth-child(1) {
  background-color: var(--accent-color);
}
.componets-list-item:nth-child(3) {
  background-color: var(--dark-bg-color);
}
@media only screen and (min-width: 768px) {
  .components-list-item {
    width: calc((100% - 32px) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .components-list-item {
    gap: 19px;
    max-width: 336px;
    width: calc((100% - 57px) / 4);
  }
}

.components-list-item-wrapper {
  display: flex;
  flex-direction: column;
}
.components-list-img {
  align-self: center;
}
.componets-list-item-desc {
  margin-bottom: 28px;
  margin-left: 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--txt-color-dark-theme);
}

.componets-list-item-desc-dark {
  color: var(--txt-color-light-theme);
}
