 .header{
  top: 0;
  width: 100%;
  background-color:#FFFFFF;
  padding: 0 20px;
}
.container {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto ;
}

@media only screen and (min-width: 768px) {
.container{
    max-width: 768px;
    }    
  }
@media only screen and (min-width: 1158px) {
  .container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }    
  }
.header-container{
    display: flex;
     align-items: center;
     justify-content: center;
}
@media only screen and (min-width: 767px) and (max-width: 1199px){
    .header-container {
        margin:auto;
        border-bottom: 1px #e7e9fc ;
        width: 100%;
        }}
@media only screen and (min-width: 1200px) {
        .container {
            max-width: 1200px; 
    }}
.header-nav{
    display: flex;
}
.header-logo{
    margin-right: auto;

}
.header-item{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    
    color: #111111;
    
}
@media screen and (max-width: 767px){
    .header-list{
     display: none;
    } 
 }
 @media screen and (min-width: 1200px){   
    .header-list{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    }
    .header-socials{
        margin-left: auto;
    } */
    .header-nav{
        display: flex;
    }
    .header-list{
        display: flex;
        gap: 24px;
    }
    
    .header-container{
        display: flex;
        align-items: center;
    }
.header-socials{
    display: flex;
    margin-left: auto;
}.header-logo{
   margin-right: 188px; 
    
}