 .header{
  top: 0;
  width: 100%;
  z-index: 3;
  background-color:var(--light-bg-color);
  padding-top: 20px;
  padding-bottom: 14; 
}
@media only screen and (min-width: 768px) {
   .header{
   padding-top: 24px;
   padding-bottom: 24px; 

  }
}
@media only screen and (min-width: 1200px) {
  .header {
   padding-bottom: 32px; 
  }
}
 .container {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto ;
}

@media only screen and (min-width: 768px) {
 .container{
    max-width: 768px;
    padding-left:0 32px;
    }    
  }
@media only screen and (min-width: 1158px) {
  .container{
    max-width: 1200px; 
  
}    
  }
 .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;       
}


 .header-logo {
    margin-right:auto;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color:var(--txt-color-light-theme);   
    
    }
        
@media only screen and (min-width:1200px) {
 .header-logo{
    
    font-size: 18px;
    line-height: 1.11;    
     }
    }

 .part-logo {
    
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color:var(--txt-color-light-theme);
    }    
 
@media only screen and (min-width: 1200px) {
 .part-logo {
    font-size: 18px;
    line-height: 1.11;    
     }
    } 

 .icon-logo{
    vertical-align: middle;
    margin-left:6.32px ;
        } 
    
  @media only screen and (min-width: 1200px) {
 .icon-logo{
    margin-left: 6.65px;
    width: 24px;
    height: 24px;
     }  
    }
           
.header-nav{
    display: flex;
    justify-content: space-between;
    gap: 139px;
}

.header-item{
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    
    color:var(--txt-color-light-theme);
    
}
.header-list{
    display: flex;
    gap: 24px;
}
@media screen and (max-width:1200px) {
    .header-list{
     display: none;
    } 
 }
 @media screen and (min-width: 1200px){   
    .header-list{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    }  
    
 .header-socials{
    display: none;
    }  
 @media only screen and (min-width: 1200px){
   .header-socials{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 18px;
    
  }
} 
   
.header-navi-link{
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;

}
.header-navi-link:hover,
.network-navi-link:focus {
    color: var(--accent-color);
}
 .header-network-social{
    fill: transparent;
    stroke: var(--txt-color-light-theme);
   } 
   @media only screen and (min-width: 768px) {
    .header-network-social{
    width: 24px; 
    height: 24px;  
     }
   }
   .header-network-social:hover{
    stroke: var(--accent-color);
   } 


.network-header-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

} 

.icon-burger{
    stroke:var(--txt-color-light-theme)
} 
@media only screen and (min-width: 768px) {
  .icon-burger {
   width: 32px;
   height:32px; 
  }
} 

.menu-toggle {
    min-height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }

  @media only screen and (min-width:1200px) {
    .menu-toggle{
        display: none;
    }
     }

  