 .header{
  top: 0;
  width: 100%;
  background-color:#FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}
.container {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto ;
}

@media only screen and (min-width: 768px) {
.container{
    max-width: 768px;
    }    
  }
@media only screen and (min-width: 1158px) {
  .container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }    
  }
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 767px) and (max-width: 1199px){
    .header-container {
        margin:0 auto;
        
        width: 100%;
        }}

.header-nav{
    display: flex;
}
.header-logo{
    margin-right: auto;

}
.header-item{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    
    color: #111111;
    
}
.header-list{
    display: flex;
    gap: 24px;
}
@media screen and (max-width: 1199px){
    .header-list{
     display: none;
    } 
 }
 @media screen and (min-width: 1200px){   
    .header-list{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    }
    
    
    
    
    
.header-socials{
    display: flex;
    margin-left: auto;
}.header-logo{
   margin-right: 188px; 
    
}
.header-navi-link{
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
}
.social-icon{
    fill: aqua;
}