/* ================= HERO =============== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  background-color: var(--light-bg-color);

  padding-bottom: 72px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-bottom: 50px;
  }
}

.hero-container {
  background-color: var(--dark-bg-color);
  background-image: url(../img/hero-img/hero_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  max-width: 335px;
  min-height: 620px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    padding: 40px;
    max-width: 704px;
    min-height: 890px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1136px;
    min-height: 600px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/hero-img/hero_mob@2x.jpg);
  }
}

@media only screen and (min-width: 376px) {
  .hero-container {
    background-image: url(../img/hero-img/hero_tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../img/hero-img/hero_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero-container {
    background-image: url(../img/hero-img/hero_desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../img/hero-img/hero_desk@2x.jpg);
    }
  }
}

.hero-subtitle {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--txt-color-dark-theme);
}

@media only screen and (min-width: 768px) {
  .hero-subtitle {
    font-size: 28px;
    line-height: 1.21;
    margin-left: 0;
    margin-right: auto;
    max-width: 484px;
  }
}

.hero-btn-wrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .hero-btn-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero-btn-list {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .hero-btn-list {
    margin-bottom: 0;
  }
}

.hero-modal-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--txt-color-dark-theme);

  width: 120px;
  height: 41px;
  padding: 0;
  border: none;

  background: var(--accent-color);
  border-radius: 100px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-btn:hover,
.hero-modal-btn:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}

@media only screen and (min-width: 768px) {
  .hero-modal-btn {
    width: 144px;
    height: 45px;
  }
}

.hero-scroll-btn-link {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--txt-color-dark-theme);
  background-color: transparent;

  padding: 12px 28px;
  width: 159px;
  height: 41px;

  border: 1px solid var(--white-color);
  border-radius: 100px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-btn-link:hover,
.hero-scroll-btn-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  background-color: var(--white-color);
}

@media only screen and (min-width: 768px) {
  .hero-scroll-btn-link {
    width: 183px;
    height: 45px;
  }
}

.hero-down-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-down-link {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .hero-down-link {
    width: 38px;
    height: 38px;
  }
}

.hero-scroll-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--txt-color-dark-theme);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .hero-scroll-text {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero-down-icon {
  fill: var(--accent-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-down-btn-wrapper:hover .hero-down-icon {
  fill: var(--white-color);
}
.hero-down-btn-wrapper:focus .hero-down-icon {
  fill: var(--white-color);
}

@media only screen and (min-width: 768px) {
  .hero-down-icon {
    width: 22px;
    height: 22px;
  }
}

.hero-down-btn-wrapper:hover .hero-scroll-text {
  color: var(--accent-color);
}

.hero-down-btn-wrapper:focus .hero-scroll-text {
  color: var(--accent-color);
}

.hero-down-btn-wrapper:hover .hero-down-link {
  background-color: var(--accent-color);
}

.hero-down-btn-wrapper:focus .hero-down-link {
  background-color: var(--accent-color);
}
/* ================= /HERO =============== */
