        .menu-container {
          /* display: none; */
          position: fixed;
          top: 0;
          right: 0;

          display: flex;
          flex-direction: column;
          width: 220px;
          height: 100vh;
          padding-right: 46px;
          padding-left: 20px;
          padding-top: 136px;
          padding-bottom: 20px;
          background-color: var(--dark-bg-color);
          z-index: 999;

          transform: translateX(100%);
    transition: transform 250ms ease-in-out;
        }

        @media only screen and (min-width: 768px) {
          .menu-container {
            width: 290px;
            padding-top: 156px;
            padding-bottom: 24px;
            padding-right: 81px;
            padding-left: 32px;
          }
        }

        .menu-container.is-open {
          transform: translateX(0);
        }

        .menu-container .menu-toggle {
          background-color: var(--dark-bg-color);
          border: none;
          position: absolute;
          top: 20px;
          right: 20px;
        }

        @media only screen and (min-width: 768px) {
          .menu-container .menu-toggle {
            top: 24px;
            right: 32px;
          }
        }

        .menu-close-btn {
          fill: transparent;
          stroke: var(--white-color);

        }

        @media only screen and (min-width: 768px) {
          .menu-close-btn {
            width: 22px;
            height: 22px;
          }
        }

        @media only screen and (min-width: 768px) {
          .menu-toggle {
            width: 32px;
            height: 32px;
          }
        }

        .mobile-menu {
          padding-left: 30px;
          margin-bottom: auto;
        }

        @media only screen and (min-width: 768px) {
          .mobile-menu {
            padding-left: 53px;
          }
        }

        .mobile-menu-item:not(:last-child) {
          margin-bottom: 24px;
        }

        .mobile-menu-socials {
          display: flex;
          justify-content: flex-start;
          gap: 18px;
        }

        .mobile-link .link {
          display: block;
          padding: 0px;

        }

        .mobile-link {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.14;

          display: flex;
          align-items: center;
          letter-spacing: -0.02em;
          color: var(--white-color);
        }

        .link.current {

          color: var(--accent-color);
        }

        .network-social {
          color: transparent;
          stroke: var(--white-color);
        }

        @media only screen and (min-width: 768px) {
          .network-social {
            width: 24px;
            height: 24px;
          }
        }

        .network-social:hover {
          stroke: var(--accent-color);
        }