.our-product {
    padding-top: 72px;
    padding-bottom: 72px;
}
@media only screen and (min-width: 768px) {

    .our-product {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media only screen and (min-width: 1200px) {
    .our-product {
        padding-top: 128px;
        padding-bottom: 128px;
    }
}

.product-container {

    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    .product-container {
        padding-top: 50px;
        padding-bottom: 50px;
        min-width: 768px;

    }
}
@media only screen and (min-width: 1200px) {
    .product-container {
        max-width: 1174px;
    }
}
.product-title {
    
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */
    
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    
        color: #111111;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
.product-span {
         color: #FD9222;
  }


.product-desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    text-align: center;
    margin-bottom: 18px;
    /* identical to box height, or 117% */

    letter-spacing: -0.02em;

    color: rgba(17, 17, 17, 0.7);
   
}

.price-holder {

    width: 94px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto ;
    background-color: #FAFAFA;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
}

.product-name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
    
        letter-spacing: -0.02em;
        text-transform: uppercase;
    
        color: #111111;
        margin: 0;
        text-align: center;
        margin-bottom: 2px;
       
}


.product-image {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 8px;
}

.product-item {
    width: 270px;
    height: 364px;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
}

.product-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    list-style: none;
}
@media only screen and (min-width: 768px) {


    .product-list {
        display: flex;
        gap: 18px;
        justify-content: center;

    }
}

@media only screen and (min-width: 868px) {
    .product-list {
        display: flex;
        gap: 18px;
        justify-content: center;
    }
}

.hidden-product-one,
.hidden-product-two,
.hidden-product-three {
    display: none;
}

@media only screen and (min-width: 768px) {
    
    .hidden-product-one {
        display: block;
    }
}

@media only screen and (min-width: 868px) {
    .hidden-product-two {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    
    .hidden-product-three {
        display: block;
    }


}

