/* Mobile */
.subscribe-container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.subscribe-section {
  max-width: 1200px;
  padding-top: 62px;
  padding-bottom: 63px;
  border-color: #1e1823;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(whisk-filled-with-melted-chocolate-close-up.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe-title {
  max-width: 291px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscribe-text {
  max-width: 326px;
  margin-bottom: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.subscribe-btn {
  display: block;
  min-width: 128px;
  height: 41px;
  padding: 12px 28px;
  /* background: #fd9222;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer; */

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background: #fcf1e0;
  color: #fd9222;
}
